/*제목 css*/
.boardList {
    display: inline-block;
    text-decoration-line: none;
    color: black;
    margin-left: 15%;
}


/*검색 input css*/
.search {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 15.5%;
    width: 400px;
}

/*등록된 게시글이 없을 때*/
.boardEmpty {
    margin-top: 50px;
    margin-left: 40%;
}

/*게시글 목록 테이블 css*/
table {
    border-collapse: collapse;
    margin-left: 15%;
    /*margin-right: 10%;*/
    width: 70%;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

.boardNum {
    width: 5%;
}

.boardWriter {
    width: 20%;
}

.created-day, .created-time {
    text-align: center;
    width: 20%;
}

/*상세 게시글 이동 css*/
.boardTitle {
    text-decoration-line: none;
    width: 45%;
}

.boardTitle:hover {
    text-decoration-line: underline;
}



/* 페이징 css */

/* 페이징 div */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 페이징 버튼 공통 CSS */
.number-button, .prev-page-button, .prev-pageGroup-button,.next-page-button, .next-pageGroup-button {
    justify-content: center;
    display: inline-flex;
    margin-left: 3px;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    color: black;
    text-decoration-line: none;
}

/* 페이지 버튼 마우스 올릴 시 공통 */
.number-button:hover,
.prev-page-button:hover, .prev-pageGroup-button:hover,
.next-page-button:hover, .next-pageGroup-button:hover{
    cursor: pointer;
}

/* 선택된 페이지 번호 CSS */
.number-button.selected {
    background-color: black;
    color: white;
}