/*제목 css*/
.boardList {
    display: inline-block;
    margin-left: 10%;
}


/*검색 input css*/
.search-input {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 10.5%;
    width: 400px;
}


/*우측 정렬 버튼 공통 css*/
.a-btn {
    background-color: white;
    float: right;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 17px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    text-decoration-line: none;
    margin-right: 10%;
}
.a-btn-first {
    background-color: white;
    float: right;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 17px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    text-decoration-line: none;
    margin-right: 10px;
}

.a-btn:hover, .a-btn-first:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


/*게시글 목록 테이블 css*/
table {
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

.boardCount {
    width: 5%;
}

.boardWriter {
    width: 20%;
}

.created-day, .created-time {
    text-align: center;
    width: 20%;
}


/*페이징 css*/
nav{
    display: flex;
    justify-content: center;
}

.pagination li {
    display: inline;
}

.page-item {
    display: block;
    text-decoration: none;
    padding: 10px 8px;
    color : black;
    line-height: 1.5;
}

.page-link {
    justify-content: center;
    display: inline-flex;
    margin-left: 3px;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    color: black;
    text-decoration-line: none;
}

.page-link:hover, .page-link-next:hover, .page-link-before:hover{
    text-decoration-line: underline;
}

.page-item.active .page-link {
    box-shadow: inset 0 0 0 2px black;
    text-decoration-line: none;
}

.page-link-before, .page-link-next {
    text-decoration-line: none;
    color: black;
}


/*상세 게시글 이동 css*/
.title {
    text-decoration-line: none;
    width: 45%;
}

.title:hover {
    text-decoration-line: underline;
}


/*게시판 목록 초기화*/
.boardList {
    color: black;
    text-decoration-line: none;
}