<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>비밀번호 확인</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/board/{id}(id=${boardDetail.id})}"-->
<!--      method="post">-->
<!--    <input type="hidden" name="_method" value="delete">-->

<!--    <label for="pwChk">비밀번호 확인</label>-->
<!--    <input type="text" id="pwChk" name="pwChk"-->
<!--           placeholder="비밀번호를 입력해주세요.">-->
<!--</body>-->
<!--</html>-->