<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 게시글</title>
</head>
<body>
    <h1>상세 게시글</h1>
    <button style= "float:right;" onclick="location.href='/board/list'">목록</button>
<form id="boardDetailContents">
    <div>
        <h3>제목</h3>
        <p th:text="${boardDetail.title}"></p>
    </div>
    <div>
        <h3>내용</h3>
        <p th:text="${boardDetail.content}"></p>
    </div>
    <div>
        <h3>작성자</h3>
        <p th:text="${boardDetail.writer}"></p>
    </div>
    <div>
        <h3>작성일자</h3>
        <p th:text="${#temporals.format(boardDetail.createdAt, 'yyyy.MM.dd | HH:mm')}"></p>
    </div>

    <div style="float: right" id="pwChk">
        <button type="button" onclick="pwChk()">수정</button>
        <button type="button" onclick="pwChk()">삭제</button>
    </div>
    <script th:src="@{/js/board.js}"></script>
</form>
</body>
</html>