<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 게시글</title>
    <link rel="Stylesheet" th:href="@{/css/board.css}">
</head>
<body>
    <h1>상세 게시글</h1>
    <a class="a-btn" href="/board">목록</a>
    <div>
        <h3>제목</h3>
        <p id="title"></p>
    </div>
    <div>
        <h3>작성자</h3>
        <p id="writer"></p>
    </div>
    <div>
        <h3>내용</h3>
        <p id="content"></p>
    </div>
    <div>
        <h3>작성일자</h3>
        <p id="createdAt"></p>
    </div>
    <div id="pwChk">
        <button class="a-btn" type="button" onclick=pwChk('delete')>삭제</button>
        <button class="a-btn-first" type="button" onclick=pwChk('updatePwChk')>수정</button>
    </div>
    <script src="/js/detail-test.js"></script>
</body>
</html>