<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="Stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<a class="boardList" href="/board">
    <h1>게시판 목록</h1>
</a>
<div>
    <a class="a-btn" href="/board/insert">등록</a>
    <form class="search-box" th:action="@{/board}" method="get">
        <input class="search-input" type="text" name="keyword" placeholder="검색어를 입력하세요"/>
    </form>
</div>
<div th:if="${#lists.isEmpty(boardList)}">
    <h2>등록된 게시글이 없습니다.</h2>
</div>
<br>
<table th:if="${!#lists.isEmpty(boardList)}">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>작성시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boardData, stat :${boardList}">
        <td class="boardNum" th:text="${stat.count} + ${((currentPage)-1)*10}"></td>
        <td>
            <a class="title" th:href="@{/board/detail/{id}(id=${boardData.id})}"
               th:text="${boardData.title}"></a>
        </td>
        <td class="boardWriter" th:text="${boardData.writer}"></td>
        <td class="created-day" th:text="${#temporals.format(boardData.createdAt, 'yyyy.MM.dd')}"></td>
        <td class="created-time" th:text="${#temporals.format(boardData.createdAt, 'HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination mt-4">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/board(keyword=${keyword}, page=${currentPage - 1})}">이전</a>
        </li>

        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
            th:classappend="${i == currentPage} ? 'active'">
            <a class="page-link" th:href="@{/board(keyword=${keyword}, page=${i})}" th:text="${i}"></a>
        </li>

        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{/board(keyword=${keyword}, page=${currentPage + 1})}">다음</a>
        </li>
    </ul>
</nav>
</body>
</html>