<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardMapper">

    <select id="findBoardsAll">
        SELECT id, title, writer, created_at
        FROM board
            <where>
                <if test = "keyword != null and keyword != ''">
                title LIKE CONCAT('%', #{keyword}, '%')
                </if>
            </where>
        ORDER BY id DESC
        LIMIT #{paramMap.offset}, #{paramMap.pageSize}
    </select>
    <select id="findBoardById">
        SELECT title, writer, content, created_at
        FROM board
        WHERE id = #{id}
    </select>
    <select id="findBoardByIdForPw" resultType="String">
        SELECT pw
        FROM board
        WHERE id= #{id}
    </select>
    <insert id="insertBoard">
        INSERT INTO board(title, content, writer, pw)
        VALUES (#{board.title}, #{board.content}, #{board.writer}, #{board.pw})
    </insert>
    <update id="updateBoard">
        UPDATE board
        SET title= #{board.title},
            content= #{board.content},
            writer= #{board.writer}
        WHERE id= #{id}
    </update>
    <delete id="deleteBoard">
        DELETE FROM board
        WHERE id= #{id} AND pw= #{pw}
    </delete>

<!--    페이지네이션-->
    <select id="countBoards" resultType="int">
        SELECT COUNT(*)
        FROM board
        <where>
        <if test="keyword != null and keyword != ''">
            title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        </where>
    </select>
</mapper>